/*
#ui-datepicker-div {
	background-color: white;
	padding: 10px;
	border: 1px solid #ADB59D;
}

.ui-datepicker-prev { float: left; }
.ui-datepicker-next { float: right; }

.ui-datepicker-next, .ui-datepicker-prev {
	display: block;
	background-color: white;
	color: #60744a;
	text-transform: uppercase;
	padding: 3px 3px 0px;
	height: 16px;
	line-height: 16px;
	border: 1px solid #abb5a0;
	cursor: pointer; 
}

.ui-datepicker-next:hover, .ui-datepicker-prev:hover { background-color: #73a241; border-color: #3a5225; color: white; }

.ui-datepicker-title {
	clear: both;
	text-align: center;
	float: left;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
}

.ui-datepicker-calendar { border-spacing: 0px; border-collapse: collapse; }

.ui-datepicker-calendar td {
	border: 1px solid #abb5a0;
	text-align: center;
	vertical-align: middle;
	width: 18px;
	height: 18px;
	padding: 0px;
}

.ui-datepicker-calendar td a {
	text-decoration: none;
	cursor: pointer;
	display: block;
	width: 100%;
	height: 17px;
	margin: 0px;
	line-height: 18px;
	background-color: white;
	color: #60744a;
	padding-top: 1px; 
}

.ui-datepicker-today a { font-weight: bold; }
.ui-datepicker-calendar td a:hover { background-color: #73a241; border-color: #3a5225; color: white; }

.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
*/

.ui-widget-header { background: #e4e6e5; text-transform: uppercase; border: 1px solid #adb59d;}
