body { font-family: Muli, Arial, Tahoma, sans-serif; font-size: 12px; margin: 0px; background-color: #222; color: #161416; }
#page_holder { width: 980px; margin: 0px auto; background-color: white;}
#page { position: relative; margin: 0px 20px; }

.border1 { border: 1px solid #adb59d; }
.border2 { border: 1px solid black; }
.border3 { border: 1px solid red; }
.bgcolor1 { background-color: #e4e6e5; }
.bgcolor2 { background-color: white; }
.fontcolor1 { color: red; }
.large_section { padding: 20px; }
.heightblock1 { height: 30px; }
.subsection_title { margin-top: 0px; margin-bottom: 0px; }
.subsection_subtitle { margin-top: 0px; }
.nomargin { margin: 0px; }
.inactive_button_1, .inactive_button_1:hover { background-color: #BBB !important; color: #888 !important; }


.accordion_toggle { display: block; height: 26px; line-height: 26px; padding: 0px 10px; text-transform: uppercase; font-family: LeagueGothicRegular; font-size: 16px; background-color: #8C9582; background-position: 99% 50%; background-repeat: no-repeat; margin: 10px 0px; cursor: pointer; }
.accordion_toggle:hover { background-color: #73A241; color: white; }
.accordion_toggle.toggle_active { background-image: url(../images/arrow_up.png); color: white; }
.accordion_toggle.toggle_inactive { background-image: url(../images/arrow_down.png); }


/* Navigation Section */

#logo { width: 250px; height: 100px; text-align: center; float: left; }
#logo img { margin-top: 6px; }

#navigation #logo, #navigation a.navigation_button, #navigation #navigation_text { border-top: none; height: 100px; }
#navigation #navigation_text { margin-right: 20px; margin-top: 15px; width: 350px; float: right; height: 85px; }
.navigation_button { display: block; float: left; padding-left: 13px; margin-left: 20px; width: 105px;text-transform: uppercase; position: relative; font-family: LeagueGothicRegular, sans-serif; font-size: 24px; line-height: 28px; color: #8c9582; text-decoration: none;  }
.navigation_button:hover { border-color: #161416; color: #60744a; }

.navigation_button > span { position: absolute; bottom: 9px; }
.navigation_button > span span { display: block; }

#footer { border-bottom: none; padding: 10px 20px 10px; }
#footer.dock-footer { position: absolute; bottom: 0px; }
#footer_left, #footer_right { float: left; width: 50%; text-transform: uppercase; }
#footer_right { text-align: right; }

/* End Navigation Section */

/* Map & Filter Form Section */

#map_holder { float: left; }
#map_filter_holder { float: right; }
#map_holder { width: 658px; height: 340px; }
#map_filter_holder { width: 218px; margin-left: 20px; }

.map_form .field_header { font-weight: bold; margin-top: 1em; }
.map_form .field_header:first-child { margin-top: 0px; }
.map_form .field_holder { float: left; width: 45%; }
.map_form .field_holder_last { margin-left: 10%; }
.map_form .field_holder input { display: block; width: 94px; }
.map_form select { width: 100%;  }
.map_form .radio_buttons_holder label { display: block; float: left; margin-left: 10px; margin-top: 5px;  }
.map_form .radio_buttons_holder label:first-child { margin-left: 0px; }
.map_form .radio_buttons_holder input[type="radio"] { float: left; margin-top: 0px; }
.map_form .form_buttons { margin: 10px 0px; }
.map_form .form_buttons .form_button, .buttonstyle1 { display: block; float: left; height: 26px; text-transform: uppercase; font-family: LeagueGothicRegular, sans-serif; border: 1px solid #abb5a0; background-color: white; line-height: 26px; margin-left: 20px; font-size: 18px; padding: 0px 10px; color: #60744a; text-decoration: none; cursor: pointer; }
.map_form .form_buttons .form_button:first-child  { margin-left: 0px; }
.map_form .form_buttons .form_button:hover, .buttonstyle1:hover { background-color: #73a241; border-color: #3a5225; color: white; }

.map_form .error_message_box { margin: 5px 0px; padding: 5px; font-size: 80%;  }


/* End Map & Filter Form Section */


/* Probe Info Table Section */

.tableheader th { background-color: #adb59d; color: white; }
table tr.even { background-color: #E7E7E7; }
table tr.odd { background-color: white; }
table tr.tablemessagerow { height: 30px; }
table tr.tablemessagerow td.tablemessage { text-align: center; font-weight: bold; vertical-align: middle; height: 30px; }
.fleet_probe_info_table .label { font-weight: bold; }
.fleet_probe_info_table td { vertical-align: top; text-align: left; }

#task_device_select_holder { margin-top: 1em; }
#task_device_select_holder > select { width: 218px; float: left; margin-bottom: 5px;  }
#task_device_select_holder #task_device_select_button { margin-left: 0px; }

#task_details_holder { float: left; margin-top: 2em; width: 660px; }
#task_details_holder table { width: 100%; }

#task_form_holder { padding: 10px; margin-top: 2em; }
#task_form .form_leftcol, #task_form .form_rightcol { width: 45%; float: left; margin-right: 5%; }
#task_form .input_holder label { float: left; font-weight: bold; display: block; line-height: 26px; }
#task_form .input_holder .fieldcolumn { float: left; margin-left: 10px; }
#task_form .input_holder .fieldcolumn > span { line-height: 26px; }

#task_form #task_form_submit_button { margin-left: 0px; margin-top: 1em; }

/* End Probe Info Table Section */


/* Toggles Section */

#toggle_buttons_holder { float: left; margin-top: 1em; width: 660px; }
#toggle_buttons_holder .toggle_button { float: left; margin-right: 20px; }
/*#toggle_buttons_holder .toggle_button:first-child { margin-left: 0px; }*/
#toggle_buttons_holder > .no_button { display: none; }
#toggle_buttons_holder > .toggle_button a { margin: 0px; }
/*#toggle_buttons_holder .toggle_button a { display: block; cursor: pointer; line-height: 18px; height: 18px; padding: 0px 10px; font-weight: bold; text-decoration: none; background-color: white; }*/

/* End Toggles Section */


/* Chart Section */

#chart_holder { position: relative; }
#chart_scale { position: absolute; list-style: none; margin-left: 0px; padding-left: 0px; height: 100%; margin-top: 0px; background-color: white; width: 20px; text-align: right; padding-right: 5px; margin-right: 5px; font-size: 9px; font-style: italic; color: #777; padding-top: 0px; padding-bottom: 25px; }
#chart_scale li { height: 20%; }
#chart_scale li.zerobase { position: relative; bottom: 10px; }

#chart_timeline { position: absolute; list-style: none; width: 868px; margin-top: 5px; margin-bottom: 0px; bottom: -25px; padding-left: 30px; height: 20px; line-height: 20px; }
#chart_timeline li { float: left; width: 60px; margin-left: 12px; }
#chart_timeline li:first-child { margin-left: 0px; }
#chart_timeline li a { display: block; text-align: center; background-color: white; text-decoration: none; }
#chart_timeline li a:hover { font-weight: bold;  }

#chart_holder #chart { height: 300px; margin-left: 30px; margin-bottom: 80px; background-color: rgba(0,0,0,0.1); }
#chart .chart_block { height: 100%; float: left; width: 60px; margin-left: 12px; background-color: rgba(0,0,0,0.1); position: relative; }

#chart .chart_block:first-child { margin-left: 0px; }
#chart .chart_block_loading { background-image: url(../images/ajax_load_big.gif); background-repeat: no-repeat;	background-position: 50% 50%; }

#chart .chart_block .chart_bar { width: 30%; position: absolute; bottom: 0px; cursor: pointer; }
#chart .chart_block .chart_bar_gsm { left: 0%; }
#chart .chart_block .chart_bar_wcdma { left: 35%; }
#chart .chart_block .chart_bar_events { left: 70%; }
#chart .chart_block .chart_bar_gsm, #chart_legend .chart_legend_container .colorblock_gsm { background-color: red; }
#chart .chart_block .chart_bar_wcdma, #chart_legend .chart_legend_container .colorblock_wcdma { background-color: blue; }
#chart .chart_block .chart_bar_events, #chart_legend .chart_legend_container .colorblock_events { background-color: green; }

#chart_holder #chart_legend { position: absolute; bottom: -70px; width: 96%; padding: 5px 2%; }
#chart_holder #chart_legend h5 { margin: 0px; float: left; }
#chart_holder #chart_legend .chart_legend_container { float: left; margin-left: 6em; width: 200px; }
#chart_holder #chart_legend .colorblock { width:40px; height: 19px; float: left; }
#chart_holder #chart_legend .chart_legend_key { margin-left: 10px; float: left; line-height: 19px; }

/* End Chart Section */


/* Gipsy Tracker Tables Section */

.radio_data_table_holder { float: left; margin-left: 20px; margin-right: 20px; }
.alpha { margin-left: 0px; }
.omega { margin-right: 0px; }
.radio_data_table_holder.radio_data_loading { min-height: 60px; background: url(../images/ajax_load_big.gif) no-repeat 50% 50% white; }
.radio_data_clear { min-height: 20px; }
.radio_data_table_holder.radio_data_2_cols { width: 427px; }
.radio_data_table_holder.radio_data_3_cols { width: 270px; }

.radio_data_table_header { text-align: center; font-weight: bold; padding: 10px 0px; text-transform: uppercase; }
.radio_data_table_holder .accordion_toggle { margin-top: 0px; margin-bottom: 0px; }
.radio_data_table_holder .data_table_accordion_header { margin-top: 0px; margin-bottom: 0px; }

.radio_data_table_holder .no-radio-data-message { text-align: center; margin: 0px; padding: 10px; color: #888; font-style:italic; }

/* End Gipsy Tracker Tables Section */


/* Loader Message */

#loader_message_holder {
	position: fixed;
	top: 0px;
	width: 300px;
	margin: 0px auto;
	left: 0px;
	right: 0px;
	z-index: 99999;
}

#loader_message_holder .loader_message {
	padding: 5px 10px;
	padding-right: 20px;
	font-size: 10px;
	line-height: 16px;
	font-style: italic;
	margin-top: -1px;
	background-image: url(../images/ajax_load_small.gif);
	background-repeat: no-repeat;
	background-position: 275px 5px;
	color: #666;
}


/* End Loader Message */

#task_form_holder .task_form_message { padding: 10px; text-align: center; margin-top: 10px; }
#task_form_holder .fail_message { border: 1px solid red; }
#task_form_holder .success_message { border: 1px solid green; }
